BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 1024
---
Language: Cpp
Standard: Latest
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: ^<(sah_kd_tree|scene_loader)/
    Priority: 2
  - Regex: \.hpp>$
    Priority: 3
  - Regex: \.h>$
    Priority: 6
  - Regex: <c[[:alnum:]]+>
    Priority: 5
  - Regex: <[[:alnum:]]+>
    Priority: 4
  - Regex: .*
    Priority: 1
