BasedOnStyle: Google
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 250
---
Language: Cpp
AccessModifierOffset: -4
Standard: Latest
AllowShortFunctionsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Middle
BreakBeforeBraces: Custom
IndentCaseLabels: false
BraceWrapping:
  AfterFunction: true
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: MultiLine
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: false
  BeforeElse: false
  #BeforeLambdaBody: true
  #BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
UseTab: Never
Cpp11BracedListStyle: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakStringLiterals: true
DeriveLineEnding: false
UseCRLF: false
FixNamespaceComments: true
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
SpaceAfterTemplateKeyword: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: ^<(sah_kd_tree|scene_loader)/
    Priority: 2
  - Regex: ^<thrust/
    Priority: 4
  - Regex: ^<assimp/
    Priority: 5
  - Regex: ^<(Q[A-Z]|Qt)
    Priority: 6
  - Regex: \.hpp>$
    Priority: 3
  - Regex: \.h>$
    Priority: 9
  - Regex: ^<c(assert|stdlib)>$
    Priority: 8
  - Regex: ^<[[:alnum:]_]+>$
    Priority: 7
  - Regex: .*
    Priority: 1
