BasedOnStyle: Google
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 250
---
Language: Cpp
Standard: Latest
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
Standard: Latest
AllowShortFunctionsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Middle
ReferenceAlignment: Middle
QualifierAlignment: Left
AlignArrayOfStructures: None
AllowAllArgumentsOnNextLine: true
AllowShortEnumsOnASingleLine: false
BreakBeforeBraces: Custom
BreakBeforeBinaryOperators: All
IndentCaseLabels: false
IndentExternBlock: NoIndent
BraceWrapping:
    AfterFunction: true
    AfterCaseLabel: false
    AfterClass: true
    AfterControlStatement: MultiLine
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterStruct: true
    AfterUnion: true
    AfterExternBlock: true
    BeforeCatch: false
    BeforeElse: false
    BeforeLambdaBody: true
    BeforeWhile: false
    SplitEmptyFunction: false
    SplitEmptyRecord: true
    SplitEmptyNamespace: true
LambdaBodyIndentation: Signature
UseTab: Never
Cpp11BracedListStyle: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakStringLiterals: true
DeriveLineEnding: false
UseCRLF: false
FixNamespaceComments: true
ShortNamespaceLines: 0
WhitespaceSensitiveMacros:
  - STRINGIZE
  - STRINGIZE2
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: false
IncludeBlocks: Regroup
IncludeIsMainRegex: (_test)?$
IncludeCategories:
  - Regex: ^<(sah_kd_tree|builder|common|scene_loader|scene|fuzzer|engine|utils|viewer|codegen)/.*\.(hpp|cuh)>
    Priority: 2
  - Regex: ^<thrust/
    Priority: 4
  - Regex: ^<vulkan/.*\.hpp>$
    Priority: 5
  - Regex: ^<\.\./SPIRV\-Reflect/
    Priority: 5
  - Regex: ^<gtest/gtest\.h>$
    Priority: 5
  - Regex: ^<assimp/
    Priority: 5
  - Regex: ^<gl[mi]/
    Priority: 5
  - Regex: ^<fmt/
    Priority: 5
  - Regex: ^<spdlog/
    Priority: 5
  - Regex: ^<nlohmann/
    Priority: 5
  - Regex: ^<vk_mem_alloc.h>$
    Priority: 5
  - Regex: ^<(Q[A-Z]|Qt)
    Priority: 6
  - Regex: \.hpp>$
    Priority: 3
  - Regex: ^<vulkan/.*\.h>$
    Priority: 8
  - Regex: ^<(sah_kd_tree|builder|common|scene_loader|scene|fuzzer|engine|utils|viewer|codegen)/.*_export\.h>
    Priority: 11
  - Regex: \.h>$
    Priority: 10
  - Regex: ^<c(assert|stdlib|stdint|string|math|stddef)>$
    Priority: 9
  - Regex: ^<[[:alnum:]_]+>$
    Priority: 7
  - Regex: .*
    Priority: 1
