[submodule "Vulkan-Headers"]
	path = external/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
	branch = vulkan-sdk-1.3.275
[submodule "VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "gli"]
	path = external/gli
	url = https://github.com/g-truc/gli.git
[submodule "spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "SPIRV-Reflect"]
	path = external/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
	branch = vulkan-sdk-1.3.275
[submodule "nlohmann"]
	path = external/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "SPIRV-Headers"]
	path = external/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
	branch = vulkan-sdk-1.3.275
[submodule "tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "tinyexr"]
	path = external/tinyexr
	url = https://github.com/syoyo/tinyexr.git
