[submodule "Vulkan-Headers"]
	path = external/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
	branch = vulkan-sdk-1.4.321
[submodule "VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
	branch = v3.3.0
[submodule "gli"]
	path = external/gli
	url = https://github.com/g-truc/gli.git
	branch = master
[submodule "spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.15.3
[submodule "fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = 11.2.0
[submodule "SPIRV-Reflect"]
	path = external/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
	branch = vulkan-sdk-1.4.321
[submodule "nlohmann"]
	path = external/nlohmann
	url = https://github.com/nlohmann/json.git
	branch = develop
[submodule "SPIRV-Headers"]
	path = external/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
	branch = vulkan-sdk-1.4.321
