#include <codegen/spirv_format.hpp>

namespace codegen::spv
{

{% for spv_enum in spv_enums -%}

const char * toString({{ spv_enum.enum_typename }} {{ spv_enum.variable_name }})
{
    switch ({{ spv_enum.variable_name }}) {
    {% for enum_value in spv_enum.enum_values %}
    case {{ enum_value.enum_value_name }}:
        return "{{ enum_value.enum_name }}";
    {% endfor %}
    {% if not spv_enum.enum_typename.endswith("Mask") %}
    case Spv{{ spv_enum.enum_infix }}Max:
        break;
    {% endif %}
    }
    return nullptr;
}

{% endfor -%}

}  // namespace codegen::spv
