*.triangle
san-miguel.obj
CircleSquareTrus_150cm_Obj.obj
CircleSquareTrus_Stage_150cm_Obj.obj
Saloon Low Poly.obj
bmw.obj
buddha.obj
bunny.obj
cat.obj
deer.obj
dragon.obj
fireplace_room.obj
hairball.obj
iscv2.obj
living_room.obj
low-poly-mill.obj
powerplant.obj
san-miguel-low-poly.obj
sponza.obj
wolf.obj
